<div class="jumbotron">
  <div class ="row">

      <center>
        <h1>Edit Creatures</h1>
        <p>This is where you can change information about the creatures that live in the bog!</p>
      </center>
      <%= render partial: 'partials/form' %>

      <%= render partial: "partials/flash" %>


  </div>
</div>