<center>
  <div class="jumbotron">
  <h1>Edit Creatures</h1>

  <p>This is where you can change information about the creatures that live in the bog!</p>

  <%= render partial: 'form' %>

  </div>
</center>