<div class="container">

  <div class="jumbotron">

      <h1>Add Creatures</h1>

      <p>Help us with our research, please add more creatures that we've missed.</p>

      <%= render partial: 'partials/form' %>

      <%= render partial: "partials/flash" %>

      <p><%= link_to '&larr; <b> back </b>'.html_safe, creatures_path %> </p>

  </div>
</div>